---
layout: default
---
<div class="archives">
    <h1 class="page-heading">Archives</h1>

    <ul class="post-list">
        {% for post in site.posts reversed %}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {% if post.subtitle %}
            <p class="post-subtitle">{{ post.subtitle | escape }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>