<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  
  <!-- Add Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@700&display=swap" rel="stylesheet">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR-GA-ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'YOUR-GA-ID');
  </script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="bg-[#171717] text-white px-64">
  <header class="bg-[#171717] p-4">
    <nav class="flex justify-between items-center">
      <a class="text-2xl font-bold text-white hover:text-gray-400" href="{{ "/" | absolute_url }}">{{ site.title }}</a>
      <ul class="flex space-x-4">
        <li><a href="{{ "/" | absolute_url }}" class="text-white hover:text-gray-400">Home</a></li>
        <li><a href="{{ "/about/" | absolute_url }}" class="text-white hover:text-gray-400">About</a></li>
        <li><a href="{{ "/feed.xml" | absolute_url }}" class="text-white hover:text-gray-400">RSS</a></li>
      </ul>
    </nav>
  </header>
  
  <main class="main-content container mx-auto p-6">
    {{ content }}
  </main>

  <footer class="bg-[#171717] text-center p-4">
    <p>{{ site.title }}</p>
  </footer>
</body>
</html>