<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">

    <!-- Minima or theme CSS -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

    <!-- Your custom stylesheet -->
    <!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">  -->

    {{ head }} <!-- Allows additional includes -->
</head>

<body>

    <!-- Site header -->
    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
</body>