---
layout: default
---
<div class="home">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li class="entry">
            <div class="entry-heading">
                <h2 class="entry-title">
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
                <time class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: date_format }}
                </time>
            </div>
            {%- if post.subtitle -%}
            <p class="entry-description">{{ post.subtitle | escape }}</p>
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
</div>
