---
layout: default
---
<article class="post">
    <header class="post-header">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="entry-heading">
            <h1 class="post-title entry-title">{{ page.title | escape }}</h1>
            <time class="entry-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: date_format }}
            </time>
        </div>
        {% if page.subtitle %}
        <p class="entry-description">{{ page.subtitle | escape }}</p>
        {% endif %}
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus_shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}
</article>